<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'intro:fisrt' %}"></a>
        <!--이미지 아래에 넣기-->
        <a href="{% url 'intro:first' %}">
        <img src="/static/images/meline.png" alt="meline" width="90" height="65"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- 마이페이지 -->
                <li>
                    <a class="nav-link" href="{% url 'intro:intro' %}">Overview</a>
                </li>
            </ul>
        </div>
    </div>
</nav>